html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
main {
    display: block;
    margin: auto;
}
ul li {
    display:inline-block;
    background-color:#eee;
    list-style-type:none;
    margin-right:-4px;
    padding:10px;
    border-right:1px solid white;
}
.route {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid green;
    margin-bottom: 1rem;
    margin-right: 5%;
    margin-left: 5%;
}