html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
main {
    padding-left: 10%;
    padding-right: 10%;
}
.starting-stop {
    padding-top: 1rem;
}
.last-stop {
    padding-top: 1rem;
}
.send-btn-container {
    padding-top: 1rem;
}
.send-btn-container {
    display: flex;
    justify-content: space-evenly;
}
.btns {
    width: 15rem;
}